@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  /* 커스텀 색상 변수 */
  --color-primary: #3490dc;
  --color-secondary: #ffed4a;

  /* 커스텀 폰트 변수 */
}

* {
  margin: 0px;
  padding: 0px;
  font-family: Pretendard;
}